nav.brand-logo {
    background-color: transparent;
    color: black;
    font-family: "Times New Roman", Times, serif;
}

.container {
    height: 100vh;
}

body {
    background: url(assets/hex.jpg);
}

.search-area {
    padding-left: 28%;
    padding-right: 28%;
    padding-bottom: 28%;
    padding-top: 20%;
}

.input-field {
    background-color: white;
    border: 2px;
    border-radius: 15px;
    padding: 10px;
    display: inline-flex;
    width: 100%;
    -webkit-box-shadow: 18px 18px 39px 0px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 18px 18px 39px 0px rgba(0, 0, 0, 0.37);
    box-shadow: 18px 18px 39px 0px rgba(0, 0, 0, 0.37);
    opacity: 90%;
}

.btn,
.btn-results {
    background-color: #1939C9;
    opacity: 80%;
    height: 45px;
    align-content: center;
}

.event-card {
    background-color: white;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    opacity: 80%;
}

img {
    width: 150px;
    height: 100px;
    border: 1 px black solid;
    margin-left: 10px;
}

a#tix :hover {
    text-decoration: underline;
    display: inline-flex;
}

a.logo {
    color: white;
}

.map {
    width: 400px;
    height: 400px;
    background-color: grey;
    display: inline-flex;
}

.event-title {
    font-size: 20px;
    font-weight: bold;
}

.date-info {
    font-size: 14px;
    font-weight: bold;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: #1939c9;
    opacity: 80%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.title {
    font-size: 40px;
    font-family: "Lobster", cursive;
    color: white;
    padding: 10px;
}

#wicon {
    width: 35px;
    height: 35px;
    margin: 0px;
}

.date,
.weather {
    padding: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: white;
}

.tixlink {
    text-decoration: underline;
    display: block;
}

.fa-search {
    margin-top: 5px;
}