nav.brand-logo {
    background-color: transparent;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    height: 100vh;
}

body {
    background: url(assets/hex.jpg);
}

.search-area {
    padding: 28%
}

.input-field {
    background-color: #F4EDED;
    border: 2px;
    border-radius: 15px;
    padding: 10px;
    display: inline-flex;
    width: 100%;
}

.event-card {
    background-color: #F4EDED;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
}

img {
    width: 150px;
    height: 100px;
    border: 1 px black solid;
    margin-left: 10px;
}

a#tix {
    text-decoration: underline;
    display: inline-flex;
}

a:hover {
    color: red;
}

.map {
    width: 400px;
    height: 400px;
    background-color: grey;
    display: inline-flex;
}

.event-title {
    font-size: 20px;
    font-weight: bold;
}

.date-info {
    font-size: 14px;
    font-weight: bold;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: coral;
}

.title {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    padding: 10px
}

.date {
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: white;
}